/*DOCUMENTO css*/

.grid{background-color: darkorange;}

.container{background-color: red;}

.items img{width: 100%;
height:auto;}

.p{color: aliceblue;
    font-family: 'Dosis', sans-serif;}

    h1{font-family: 'Dosis', sans-serif;
    color: azure;}

