/*Documento css*/

body{background-color: rgb(147, 231, 231);}

h1{color: rgb(47, 147, 147);
text-align: center;
font-family: 'ledlightregular';}


@font-face {
    font-family: 'ledlightregular';
    src: url('/font/ledlight-webfont.woff') format('woff2'),
         url('/font/ledlight-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}




h2,h3{color:rgb(36, 36, 138);}
h4,h5,h6{color: rgb(36, 36, 138);}

p{color:rgb(36, 36, 138);}