/*DOCUMENTO CSS*/

*{margin: 0px;
padding:0%;}

body{background-color: aquamarine;

    font-family: 'Amatic SC', sans-serif;
    font-family: 'Sora', sans-serif;}

.logo{width: 150px;
float: left;
margin: 25px;}

h1{text-align: center;
color: rgb(168, 0, 194);
padding: 50px 0px 50px 0px;
margin-bottom: 5px;
font-size: 5em;
font-weight: 700;
font-family: 'Amatic SC', sans-serif;
text-shadow: 1px 2px 3px rgb(90, 96, 255);
} 

.intro{color: rgb(243, 251, 251);
padding: 20px;
text-align: justify;
font-size: 1em;
background-color: rgb(208, 54, 246);}

img{width: 100%;}

footer{text-align: center;
color: rgb(50, 232, 253);
background-color: rgb(136, 72, 247);
padding: 20px 0px;}

.cancun{
  color: gray;
  padding: auto;
}

.tequilla{
    color: grey;
    padding: auto;
}

.cabos{
    color: gray;
    padding: auto;
}

h2{
    color: blueviolet;
    padding: auto;

}